<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Portfolio - My Works</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catWeb catGraphic catMotion logo">All</span></li>
            <li><span class="filter" data-filter="catWeb">Web Design</span></li>
            <!--
            <li><span class="filter" data-filter="catGraphic">Graphic Design</span></li>
            <li><span class="filter" data-filter="catMotion">Motion Graphic</span></li>
            <li><span class="filter" data-filter="logo">Logo</span></li> 
            -->
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://cpk6212000.github.io/Matthias-Dashboard/" target='_blank' rel="portfolio">

                        <img src="images/portfolio/2.jpg" alt="Matthias Dashboard" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Matthias Dashboard</a>
                                <span class="text-category">Web Design</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                    <!-- .portfolio-wrapper -->
                    <div class="portfolio-wrapper">		
                        <a href="https://cpk6212000.github.io/Panel CV/" target='_blank' rel="portfolio">
    
                            <img src="images/portfolio/3.jpg" alt="Panel CV" />
                            <div class="label">
                                <div class="label-text">
                                    <a class="text-title">Personal Resume Page</a>
                                    <span class="text-category">Web Design</span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </a>
                    </div>
                    <!-- /.portfolio-wrapper -->
                </div>		
                <!-- /.portfolio -->

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->